<form action="" method="post">
    <label for="from">From_secret:</label><br>
    <input type="text" id="from" name="from"><br>
    <label for="asset">Asset secret:</label><br>
    <input type="text" id="asset" name="asset"><br>
    <label for="to">To_secrets:</label><br>
    <input type="text" id="to" name="to"><br>
    <label for="to">memo:</label><br>
    <input type="text" id="memo" name="memo"><br>
    <label for="Amount">Amount:</label><br>
    <input type="number" step=0.0000001 id="amount" name="amount"><br>
    <input type="submit" value="Submit">
</form> 